.jumbotron{
    background-color: steelblue;
    color: white;
    border-radius: 0;
}
.btn{
    color: white;
    background: steelblue;
}
.btn-warning{
    background: orange;
}
footer{
    height: 50px;
    padding: 15px 10px;
    background: #000;
    color:white ;
}